.promo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  display: block;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-top: 20px solid #fff;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -12px;
  margin-right: -18px;
}

.parcelInput {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  color: #ffffff;
  width: 26px;
  height: 26px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.parcelInput:checked {
  background-color: #03d69d;
}

.parcelInput:checked::after {
  content: "✓";
  margin-left: 4px;
}
